.card {
  position: relative;
  width: 100%;
  height: 100%;
  --border-radius: 4px;
  --right-gap: 4%;
  border: 1px solid black;
  border-radius: var(--border-radius);
}

.card__image {
  width: 100%;
  height: 40%;
}

.card__content {
  width: 100%;
  height: 60%;
  padding: 1rem;
}

.card__content > h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card__content > .price {
  display: flex;
  align-items: center;
}

.card__content > .stars {
  display: flex;
  justify-content: flex-start;
  gap: 0.3rem;
}

.card__content > .stars svg {
  fill: #ebc700;
}

.card__discount {
  position: absolute;
  top: 5%;
  right: var(--right-gap);
  border-radius: var(--border-radius);
  background: rgb(68, 106, 119);
  border: 1px solid black;
  line-height: 100%;
  text-align: center;
  color: white;
  padding: 0 0.3rem;
  letter-spacing: 1px;
}

.card__collection-icon {
  position: absolute;
  bottom: 5%;
  right: var(--right-gap);
  cursor: pointer;
}

.card__collection-icon svg {
  fill: rgb(185, 189, 197);
}

.card__collection-icon.collected {
  animation: pop 0.3s linear;
}

.card__collection-icon.collected svg {
  fill: rgb(255, 77, 82);
} 

@keyframes pop {
  50% {
    transform: scale(1.2);
  }
}