.carousel {
  width: 100%;
  height: 300px;
  max-height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__content .list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.carousel__content .list__item {
  width: 100%;
}

.carousel__content .list__item img{
  width: 100%;
}

.carousel__prev-indicator {
  position: absolute;
  left: 5%;
  top: 50%;
  visibility: hidden;
}

.carousel__prev-indicator.hovered {
  visibility: visible;
}

.carousel__next-indicator {
  position: absolute;
  right: 5%;
  top: 50%;
  visibility: hidden;
}

.carousel__next-indicator.hovered {
  visibility: visible;
}