#popup-modal {
  inset: 0;
  position: fixed;
  z-index: 999;
  --border-radius: 4px;
}

.popup-modal__mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.popup-modal__content {
  position: relative;
  width: 70vw;
  height: 70vh;
  border-radius: var(--border-radius);
  background: rgba(255, 255, 255, 1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: gradually-scale 0.3s ease-out;
}

@keyframes gradually-scale {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

.popup-modal__close-button {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 2%;
  right: 2%;
  background: gray;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .popup-modal__close-button::before {
  position: absolute;
  top: 2%;
  right: 2%;
  content: "x";
  width: 1rem;
  height: 1rem;
  border-radius: var(--border-radius);
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
} */