*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.App {
  max-width: 1440px;
  margin: 0 auto;
}

.product-list {
  display: grid;
  grid-gap: 10px;
  list-style: none;
  padding: 1rem;
}

@media screen and (max-width: 376px) {
  .product-list {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 376px) and (max-width: 768px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.product-list__item {
  /* max-width: 300px; */
}

.footer-content {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  height: 10vh;
}

.footer-content__button {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(64, 64, 145), lightblue);
  background: #c2e4e7;
  border: 0;
  cursor: pointer;
  font-size: large;
}

.collected-products {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
}

.collected-products__item {
  flex: 1 1 100%;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.collected-products__item .image-mask{
  height: 150px;
  flex: 0 0 40%;
}

.collected-products__item .image-mask img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.collected-products__item section{
  font-size: large;
  font-family: 'Kalam', cursive;
}